@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    color: black;
}
header, nav{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav img{
    height: 100px;
}
#menu{
    display: flex; 
    flex-direction: row;
}
#menu li{
    padding: 1rem;
    list-style: none;
}
#menu span{
    color: ;
}
#menu a{
    color: blue;
    text-decoration: none;
}
main{
    margin: 3rem 1rem 1rem 1rem;
    width: 100%;
}
#copy{
    width: 50%;
    display: flex;
    flex-direction: column;
    border: ;
}
#copy p{
    margin-top: 3rem;
    font-size: 20px;
}
#copywriting{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: ;
}
#copywriting a{
    margin-top: 2rem;
    width: 170px;
    align-self: center;
    padding: 10px 20px;
    margin-right: 6rem;
    font-weight: bold;
    background-color: #5D3887;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
#copywriting input{
    width: 170px;
    align-self: center;
    margin-right: 6rem;
    font-weight: bold;
    background-color: #5D3887;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
.text{
    width: 35vw;
    margin-left: 2rem;
}
.text h1{
    line-height: 1rem;
    font-weight: bold;
    font-size: 40px;
}
.ilustracao{
    margin: 0 0 10vw 10vw;
    height: 600px;
}
.ilustracao img{
    height: 600px;
    margin: 0 0 3rem 3rem;
    float: right;
}
h1, p{
    color: blue;
}
#values{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0 2vw 0 0;
}
#values h2{
    text-align: center;
}
#values div, #values div p{
    border: 2px solid green;
    margin: 10px;
    background-color: #5a00a0;
    border-radius: 10px;
}
#values div img{
    width: 150px;
    margin: 10px;
    border-radius: 10px;
}
